@page


<div class="text-center">
    <h2>Hvala!</h2>
    <p>Hvala na kupovini #@OrderId</p>
    <p>Mi cemo Vam poslati proizvode sto je pre moguce</p>
    <a class="btn btn-danger" asp-controller="Home">Povratak u prodavnicu</a>
</div>


@functions 
{
    [BindProperty(SupportsGet = true)]
    public string? OrderId { get; set; }
}